{{[Parentoutput]}}

<button (click)="toggle()">Toggle</button>
<input type="text" [(ngModel)]="onchangename">
{{onchangename}}
<app-lifecyclehook *ngIf="child" [onchangename]="onchangename"></app-lifecyclehook>
<hr>
<h2>ViewEncapsulation</h2>
<h4>Shadow Dom</h4>
<app-shadow-dom></app-shadow-dom>
<hr>
<h4>None</h4>
 <app-none></app-none>
 <hr>
 <h4>Component Intraction</h4>
 <input type="text" [(ngModel)]="username">
 <hr>
 <h4>Component Projection</h4>
 <app-contentprojection [array]="Phone">
  <h1>Top products with 70% Offer</h1>
 </app-contentprojection>

